<div class="Content">
    <section class="personalSection">
        <form class="personalHeader2" id="profileHeader" action="/personal/{{user1._id}}/edit" enctype="multipart/form-data" method='POST'>
            <img src="{{user1.imgPath}}" class="profile-avatar" alt="avatar">
            <input type="file" class="" name="photo" placeholder=" ">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{user1.name}}">
            <label for="city">City</label>
            <input type="text" id="city" name="city" value="{{user1.city}}">
            <label for="website">Website</label>
            <input type="text" id="website" name="website" value="{{user1.website}}">
            <button type="submit" class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f5">Save</button>
        </form>
        <div class="images-profile">
            {{#each pictures}}
            <img src="{{this.data.image}}" class="image2" alt="">
            <form action="/personal/{{id}}/delete" method="POST">
                <button type="submit" class="deleteButton b ph2 pv2 ba b--orange grow pointer f6">delete</button>
            </form>
            {{else}}
            <p class="you-have-no">You have no pictures yet!</p>
            {{/each}}
        </div>
</div>
</section>