   <div class="Content">
       <section class="personalSection">
           <header class="personalHeader" id="profileHeader">
               <img src="{{user1.imgPath}}" class="profile-avatar" alt="">
               <h1 class="">{{user1.username}}</h1>
               <h2 class="">{{user1.email}}</h2>

               <a href="/personal/edit" id="personal-edit" class="b ph3 pv2 input-reset ba b--orange bg-transparent grow pointer f5">Edit
                   profile</a>
           </header>
           <div>
           </div>
           <div class="routines-profile">
               <button onclick="displayInput()" id="add-routine-btn" class="b ph3 pv2 input-reset ba b--orange bg-transparent grow pointer f5">New Routine</button>
               <div id="newRoutine" style="display: none">
                   <input type="text" name="newRoutineName" id="routineName" placeholder="Your routine name">
                   <button class="add-btn bg-transparent">ADD</button>
               </div>
               {{#each routines}}
               <div class="eachRoutine">
               <a href="/personal/routine/{{this._id}}">{{this.name}}</a>
                <a class="delete-routine-btn" href="/personal/{{this._id}}/delete">X</a>
                </div>
               {{else}}
               <p class="you-have-no">You have no routines yet!</p>
               {{/each}}
           </div>
       </section>
   </div>

   <script src="/scripts/profile.js"></script>