   <div class="Content">
   <section class="personalSection">
       <header class="personalHeader" id="profileHeader">
           <img src="{{user1.imgPath}}" class="profile-avatar" alt="">
           <h1 class="">{{user1.name}}</h1>
           <h2 class="">{{user1.city}}</h2>
           <h2 class="">{{user1.website}}</h2>
           <a href="/personal/edit" class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f5">Edit profile</a>
       </header>
       <div class="images-profile">
           {{#each pictures}}
           <img src="{{this.data.image}}" class="image" alt="">
           {{else}}
           <p class="you-have-no">You have no pictures yet!</p>
           {{/each}}
       </div>
   </section>
   </div>