      <div class="Content fade-in">
          <section class="personalSection">
              <header class="personalHeader" id="profileHeader">
                  <img src="{{imgPath}}" class="profile-avatar" alt="avatar">
                  <h1 class="">{{name}}</h1>
                  <h2 class="">{{city}}</h2>
                  <h2 class="">{{website}}</h2>
                  <h2 class="">{{email}}</h2>
                  <form action="/personal/message-to/{{userId}}" method="POST">
                      <input type="text" name="message" id="">
                      <button type="submit">Send Message</button>
                  </form>
              </header>
              <div class="images-profile">
                  {{#each pictures}}
                  <img src="{{this.data.image}}" class="image" alt="">
                  {{else}}
                  <p class="you-have-no">There aren't pictures yet!</p>
                  {{/each}}
              </div>
          </section>
      </div>

